charset-normalizer==3.5.1
colorama==0.4.6
hatchling==1.32.0
iniconfig==2.3.0
librt==0.15.0
mypy==1.20.2
mypy_extensions==1.1.0
packaging==26.3
pathspec==1.1.1
pillow==12.3.0
pip==26.2.1
pluggy==1.6.0
Pygments==2.21.0
pypdf==6.16.2
pytest==9.1.1
reportlab==4.5.1
ruff==0.16.5
tomlkit==0.15.1
trove-classifiers==2026.6.1.19
typing_extensions==4.16.0
